page-first-page {
	
}
.content {
			background-image: url("https://previews.123rf.com/images/monticello/monticello1304/monticello130400083/19352473-Assorted-grocery-products-including-vegetables-fruits-wine-bread-dairy-and-meat-Stock-Photo.jpg");
}
.buttons {
	 margin-top:10%;
	 margin-left:15%;
  	 margin-right:15%;
 	 position: relative;
 	 width:70%;
}
.box {
	margin-bottom: 15%;
	margin-left: 15%;
	background-color: white;
	width: 70%;
	min-height: 200px;
}